extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Kennie Kincaid

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Thanks for viewing my profile!
            | I enjoy all things art, creating, building projects, making things beautiful, and facilitating
            | enjoyable experiences for users, viewers, clients, and customers alike. I've included a few
            | images of other types of art I enjoy using acrylic paint on canvas or high-end cosmetics on my arm.
          p Thanks for visiting my profile!

          img.image(src='/static/images/art1.jpg')
          img.image(src='/static/images/art2.jpg')
          img.image(src='/static/images/art3.jpg')
          img.image(src='/static/images/art4.jpg')

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li jQuery
          li Express
          li Ajax
          li Node.js
          li Node Package Manager (npm)
          li Pug
          li Fetch API's
          li HTML
          li CSS 
        h6 Contact Info

        ul
          li Cell: (214) 433-1982
          li Other: (469) 909-1224
          li kendra7288@yahoo.com

        a.button.expanded(href='https://www.linkedin.com/in/kendraeroberson/') LinkedIn
        a.button.expanded(href='https://github.com/kenniekincaid') GitHub
        a.button.expanded(href='https://www.kenniekincaid.com') www.KennieKincaid.com
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  