extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Kendra (Kennie Kincaid) Roberson

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Thanks for viewing my profile!
            | I enjoy all things art, creating, building projects, making things beautiful, and facilitating
            | enjoyable experiences for users, viewers, clients, and customers alike.
            | My alias for all creative works is Kennie Kincaid.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li jQuery
          li Express
          li Ajax
          li Node.js
          li Node Package Manager (npm)
          li Pug
          li Fetch API's
          li HTML
          li CSS 
        h6 Contact Info

        //- Add your own contact info
        ul
          li 469-909-1224
          li kendra7288@yahoo.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/kendraeroberson/') LinkedIn
        a.button.expanded(href='https://github.com/kenniekincaid') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  