
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
  color: rgb(49, 49, 49);
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    color: white;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: rgb(49, 49, 49);
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: rgb(49, 49, 49);
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: rgb(49, 49, 49);
}

a:hover{
  color: #rgb(49, 49, 49);
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  /* background: #352912; */
  background: #000000;
  color: rgb(255, 255, 255);
  box-shadow: none !important;
  text-shadow: 0 0 10px #fff, 0 0 20px rgb(236, 255, 184), 0 0 30px #464646, 0 0 40px #a1a19f, 0 0 50px #808080, 0 0 60px #706c6e, 0 0 70px #e60073;
  /* text-shadow: 0 0 20px #fff, 0 0 30px #fffc37, 0 0 40px #ffd04d, 0 0 50px #e4ff4d, 0 0 60px #f3ff4d, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
}

  .portfolio-me p{
    font-size: 14px;
    color: rgb(255, 255, 255);
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;

  }

  .portfolio-me a:hover{
    color: rgb(251, 153, 219);
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #000000;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #000000;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: rgb(49, 49, 49);
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
      color: rgb(49, 49, 49);
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: rgb(49, 49, 49);
}

.portfolio-bio{
    line-height: 25px;
}

body {
  /* background-image: url('https://media.freestocktextures.com/cache/c5/b3/c5b3748303db3afe1e0599437ff3b36f.jpg'); */
  /* background-image: url('https://wallpaperstock.net/resumen-de-medios%2C-estilos-wallpapers_55580_1920x1200.jpg'); */
  /* background-image: url('https://www.desktop-background.com/download/2560x1440/2010/12/16/127022_light-grey-backgrounds-hd_2560x1600_h.jpg'); */
  background-image: url('https://backgrounddownload.com/wp-content/uploads/2018/09/white-gradient-hd-background-1.jpg');
  /* background-image: url('https://cdn.pixabay.com/photo/2016/01/11/22/05/background-1134468_960_720.jpg'); */
  background-size: 100% 100%;
  background-attachment: fixed;
}

